/* ---- GENERAL STYLES ---- */

body {
  background-color: #F8F8F8;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

a, li {
  text-decoration: none;
  color: rgb(72,72,72);
  transition: 0.3s;
}

a:hover, 
li:hover {
  opacity: 0.75;
}

p, h2, h3, h4 {
  text-align: center;
}

/* ---- NAV BAR STYLES ---- */

ul {
  list-style-type: none;
  padding-left: 0;
}

#top-nav h1, 
#bottom-nav h2 {
  padding: 0px 20px;
  color: rgb(72,72,72);
}

h1, h3 {
  color: rgb(72,72,72);
}

#top-nav h1 {
  text-align: center;
  margin: 30px 0px;
}

#top-nav li {
  background-color: white;
  margin: 5px 20px;
  padding: 15px 0;
  text-align: center;
}

#top-nav h3 {
  padding: 0;
  margin: 0;
}

#bottom-nav,   
#bottom-nav ul {
  display: flex;
  font-size: 0.9em;
}

#bottom-nav {
  flex-direction: row;
  justify-content: space-between;
}

#bottom-nav ul {
  flex-direction: row;
}

#bottom-nav h2 {
  margin-top: 20px;
}

#bottom-nav li {
    padding: 0px 20px;
}

#bottom-nav .section {
  display: none;
}


/* ---- PROFILE ---- */

#profile-image {
  display: block;
  width: 60%;
  margin: 55px auto 30px auto;
}

.profile-text {
  color: #888888;
  line-height: 2em;
  padding: 0 20px;
}

#profile {
  padding-bottom: 20px;
}
/* ---- PORTFOLIO ---- */

#portfolio {
  background-color: white;
  padding: 0 20px 40px 20px;
}

#portfolio h3 {
  padding: 50px 0px;
  margin-bottom: 0;
}

#items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-bottom: 40px;
}

#portfolio h2 {
  font-weight: lighter;
  color: #404040;
}

.portfolio-image {
  width: 100%;
}

.portfolio-text {
  color: rgb(72,72,72);
  font-weight: 200;
  line-height: 1.8em;
  padding: 0 20px;
}


/* ---- CONTACT ---- */

#contact h3 {
  padding-top: 50px;
  padding-bottom: 20px;
}

#contact p:nth-child(2) {
  padding-bottom: 20px;
}

#contact p:nth-child(4) {
  padding-bottom: 50px;
}

.contact-text {
  color: #888888;
  line-height: 1.8em;
  padding: 0 20px;
}

.contact-info {
  margin-left: 10px;
}

hr {
  margin: 0 20px;
}

/* ---- RESPONSIVE DESIGN ---- */

@media screen and (min-width: 768px) {
  #top-nav, 
  #top-nav ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
  }

  #top-nav {
    flex-direction: column;
    align-items: center;
  }

  #top-nav li {
    background-color: #F8F8F8;
    padding-top: 5px;
  }

  #profile {
    display: flex;
    flex-direction: row-reverse;
  }

  #profile-image {
    width: 40%;
    height: 40%;
    margin-top: 10px;
    margin-right: 20px;
  }

  .profile-text {
    margin-top: 0px;
    text-align: left;
  }

  #portfolio {
    padding: 0 15px 0 15px;
  }

  .item {
    padding: 0 5px 0 5px;
    width: 50%;
  }

  #bottom-nav .section {
    display: block;
  }

  #top-nav li {
    margin: 0px 20px;
  }

  #bottom-nav .back-to-top {
    display: none;
  }

  .contact-text {
    max-width: 65%;
    margin: auto;
  }

}

@media screen and (min-width: 1024px) {
  #top-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  #top-nav ul {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .item {
    width: 33.333%;
  }

  .wrapper {
    margin: 0 20px;
  }
  
}
